vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Jun 2006 20:58:57 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|19 Jun 2006 20:58:57 -0000
vti_filesize:IR|1852
vti_cachedlinkinfo:VX|S|Images/back_maple_leaf.png S|Images/background.gif
vti_cachedsvcrellinks:VX|FSUS|App_Themes/Theme1/Images/back_maple_leaf.png FSUS|App_Themes/Theme1/Images/background.gif
vti_lineageid:SR|{98B5C7AF-C08F-45FE-811F-6C8CB89364A1}
vti_backlinkinfo:VX|
