/** BASIC */

html { overflow: -moz-scrollbars-vertical; } 

body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF url(images/subpage1_01.jpg) repeat-x left top;
}

/** FORMS */

form {
	margin: 0px;
	padding: 0px;
}

/** HEADINGS */

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	color: #858585;
}

h2 {
	font-size: 20px;
	font-weight: normal;
}

/** TEXTS */

body, th, td, input, textarea, select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
}

th.bluebg {
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

td.normalcell {
	border: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
	text-align: left;
}


td.alt {
	background: #F5FAFA;
	color: #797268;
}

th.spec {
	border: 1px solid #C1DAD7;
	background: #fff url(images/bullet1.gif) no-repeat;
	font: bold 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	padding: 10px 15px;
}

th.specalt {
	border: 1px solid #C1DAD7;
	background: #f5fafa url(images/bullet2.gif) no-repeat;
	font: bold 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
	padding: 10px 15px;
}

table.contacts { 
	width: 580px;
	background-color: #fafafa;
	border: 1px #000000 solid;
	border-collapse: collapse;
}

td.contactDept {
	background-color: #99CCCC;
	border: 1px #000000 solid;
	font-family: Verdana;
	font-weight: bold;
	font-size: 12px;
	color: #404040; 
}


td.contact { 
	border-bottom: 1px #6699CC dotted;
	text-align: left;
	font-family: Verdana, sans-serif, Arial;
	font-weight: normal;
	font-size: 11px;
	color: #404040;
	background-color: #fafafa;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 0px; 
}

td.links {
	padding: 0 30px 0 24px;
}

p, blockquote, ul, ol, dl {
	margin-top: 0px;
	margin-bottom: 1em;
	text-align: justify;
}

ol {
	margin-left: 0px;
	padding-left: 0px;
	line-height: 120%;
	list-style-position: inside;
}

ul {
	padding-top: 5px;
	padding-bottom: 5px;
}

li {
	padding-bottom: 5px;
}

.text1 {
	text-transform: lowercase;
	font-size: 28px;
	font-weight: normal;
	color: #FFFFFF;
}

.text2 {
	color: #B8B8B8;
}

.text3 {
	text-transform: lowercase;
	font-size: 15px;
	font-weight: normal;
	color: #FFFFFF;
}

.text4 {
	font-size: 24px;
	font-weight: normal;
	color: #FFFFFF;
}

.text5 {
	margin-bottom: 1em;
	font-size: 13px;
	font-weight: normal;
	color: #FFFFFF;
}

.text6 {
	color: #FFFFFF;
}

.text7 {
	text-align: right;
}

.text8 {
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: #B2B2B2;
}

.text9 {
	margin: 0px;
	padding: 10px 0px;
	font-size: 10px;
	color: #00F;
}

.text10 {
	margin: 0px;
	padding: 0px;
	font-size: 24px;
	font-weight: normal;
}


/** LINKS */

a {
	color: #EE8817;
}

a:hover {
	text-decoration: none;
	color:#333333;
}

a:visited {
	color:#333333;
}

.link1 {
	text-decoration: none;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: #797979;
}

.link2 {
	padding-left: 15px;
	background: url(images/subpage1_02.gif) no-repeat left center;
	color: #FFFFFF;
}

.link3 {
	padding-left: 15px;
	background: url(images/homepage13.gif) no-repeat left center;
}

/** STYLES */

.style1 {
}

.style1 a {
}

.style1 a:hover {
}

/** TITLES */

.title1 {
	height: 45px;
	margin: 0px 0px 10px 0px;
	padding: 20px 0px 0px 55px;
	background: url(images/homepage09.jpg) no-repeat left top;
}

.title2 {
	height: 45px;
	margin: 0px 0px 10px 0px;
	padding: 20px 0px 0px 55px;
	background: url(images/homepage10.jpg) no-repeat left top;
}

.title3 {
	height: 45px;
	margin: 0px 0px 10px 0px;
	padding: 20px 55px 0px 0px;
	background: url(images/homepage11.jpg) no-repeat right top;
	text-align: right;
}

.title4 {
	height: 45px;
	margin: 0px 0px 10px 0px;
	padding: 20px 55px 0px 0px;
	background: url(images/homepage12.jpg) no-repeat right top;
	text-align: right;
}

.title5 {
	height: 45px;
	margin: 0px 0px 10px 0px;
	padding: 20px 0px 0px 55px;
	background: url(images/subpage1_03.jpg) no-repeat left top;
}

.title6 {
	height: 45px;
	margin: 0px 0px 10px 0px;
	padding: 20px 55px 0px 0px;
	background: url(images/subpage1_04.jpg) no-repeat right top;
	text-align: right;
}

.title7 {
	height: 45px;
	margin: 0px 0px 10px 0px;
	padding: 20px 55px 0px 0px;
	background: url(images/subpage1_05.jpg) no-repeat right top;
	text-align: right;
}

.title8 {
	height: 45px;
	margin: 0px 0px 10px 0px;
	padding: 20px 0px 0px 55px;
	background: url(images/subpage2_01.jpg) no-repeat left top;
}

/** BACKGROUNDS */

.bg1 { background: #FFFFFF url(images/homepage03.jpg) repeat-x left top; }
.bg2 { background: #00A195 url(images/homepage08.jpg) no-repeat left top; }
.bg3 { background: #ECECEC url(images/homepage18.gif) no-repeat center top; }

/** MISC */
.align-left { text-align:left; }
.align-justify { text-align: justify; }
.align-right { text-align: right; }

img { border: none; }

.img1 {
	float: left;
	margin: 3px 15px 0px 0px;
}

.img2 {
	float: right;
	margin: 3px 0px 0px 15px;
}

.img_office {
	background: url(images/shadow.gif) no-repeat right bottom;
	padding: 4px 10px 10px 4px;
	border-top: #eee 1px solid;
	border-left: #eee 1px solid;
	margin: 3px 15px 0px 0px;
	float: left;
}

hr { display: none; }

.hr1 {
	height: 1px;
}

#formlbl {
	text-align:left;
	padding: 5px 10px 5px 0;
}

.addheight {
	margin-bottom: 0.4em;
}

.eventSection {
    padding-bottom: 20px;
}

.eventMonth {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 10px;
}

.eventHeader {
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
}

.message {
    font-style: italic;
    padding: 15px;
}


